<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https:// cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Node Sms texting</title>
</head>
<body>
    <div class="container">
        <h2>Send SMS Message</h2>
        <input type="tel" name="number" id="number" placeholder="Enter phone number..">
        <input type="tel" name="msg" id="number" placeholder="Enter text Message...">
        <input type="button" id="button" value="Send text" class="button button-primary">
        <p class="response"></p>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>