<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="materializcss">
    
    <title>Node File Uploads</title>
</head>
<body>
<div class="container">
    <h1>File upload</h1>
    file <input type="text">

</div>


    <link rel="stylesheet" href="jquery.com">
    <link rel="stylesheet" href=" javascript">
</body>
</html>